#product-profile-div {
  width: auto;
  min-width: 700px;
  color: rgb(63, 63, 63);
  background-color: beige;
}
#product-profile-header {
  display: flex;
  margin: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.edit-delete-menu-profile {
  position: relative;
  top: 5px;
  padding: 7px;
}

.edit-delete-menu-profile:hover {
  display: block;
  border-radius: 5px;
}

#product-profile-header img {
  width: 200px;
  border-radius: 5px;
}

#product-profile-title-dates {
  width: 100%;
  padding-left: 20px;
}

#product-profile-title-dates p {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: rgba(63, 63, 63, 0.5);
}

#product-profile-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

#product-profile-details h3 {
  padding-bottom: 10px;
}

#product-profile-details p {
  padding-left: 5px;
}

#modal-content {
  width: auto;
  border-radius: 7px;
  margin-left: 250px;
  margin-right: 250px;
}

.discussion-section {
  margin: 20px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 35px;
}

#see-discussions-btn {
  width: 30%;
  margin-left: 35%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgba(63, 63, 63, 0.3);
  transition: background-color 0.1s ease-in-out;
}

#see-discussions-btn:hover {
  background-color:rgb(249, 125, 73);
  border-color:rgb(249, 125, 73);
  cursor: pointer;
}
