.product-search-form {
  display: flex;

}

.search-bar {
  position: relative;
  top: 0.4em;
  margin: 0;
  color: red;
  margin-left: 5em;
  width: 15em;
  border-radius: 10px;
  height: 2.2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-submit {
  margin: 0;
  border: none;
  position: relative;
  top: 0.4em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 2.2em;
  padding: 5px 7px;;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(249, 125, 73);
  color: white;
  transition: all 0.1s ease-in-out;
}

.search-submit:hover {
  cursor: pointer;
  background-color: rgba(249, 126, 73, 0.74);

}
