#splash-div {
  margin-top: 8px;
}
#splash-div img {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.4;
  z-index: -1;
}

#splash-banner {
  width: 100%;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 35%;
  background-color: rgba(15, 16, 17, 0.7);
}

#splash-banner h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#splash-banner a {
  text-decoration: none;
}

#splash-banner a:hover {
  border-bottom: 1px solid wheat;
}

@media screen and (max-width: 700px) {
  #splash-banner {
    top: 30%;
  }

  #splash-banner h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #splash-banner a {
    font-size: 14px;
  }
}
