nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(33,41,63,.1);
}

nav h1 {
  margin: 0 auto;
  text-align: center;
}

#login-signup-div a {
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 60px;
}

nav a:hover {
  color: #F97D49;
}

nav button {
  margin-left: 80px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(33,41,63,.1);
}

#logout-btn {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 7%;
  border: 1px solid rgba(249, 125, 73, 0.5);
  padding: 3px;
}

#logout-btn:hover {
  background-color: rgb(249, 125, 73);
  color: white;
}

ul li{
  list-style-type: none;
  margin-right: 10px;
  text-align: center;
}

.profile-icon-menu {
  display: flex;
  align-items: center;
}

#profile-dropdown li {
  padding: 2px;
}
