
.nav-links {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(203, 198, 191);
  height: 100px;
}

.nav-links a {
  font-size: 20px;
}

nav h1 {
  text-align: center;
  line-height: 90px;
  font-size: 30px;
}

#login-signup-div a {
  margin-left: 25px;
  margin-right: 25px;
}

#submit-icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#submit-icon-div a {
  margin-right: 5%;
  white-space: nowrap;

}

nav a {
  font-weight: 500;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  transition: color 0.15s ease-in-out;
}

nav a:hover {
  color: #F97D49;
}

nav button {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(33,41,63,.1);
}

#logout-btn {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 7%;
  border: 1px solid rgba(249, 125, 73, 0.5);
  padding: 3px;
  transition: color 0.15s, background-color 0.15s ease-in-out;
}

#logout-btn:hover {
  background-color: rgb(249, 125, 73);
  color: beige;
}

ul li{
  list-style-type: none;
  margin-right: 10px;
  text-align: center;
}

.profile-icon-menu {
  display: flex;
  align-items: center;
}

#profile-dropdown-div {
  background-color:rgb(46, 51, 53);
  border-radius: 7px;
  position: absolute;
  top: 65px;
  right: 10px;
  /* margin: 20px; */
  padding-top: 33px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.profile-icon-menu:hover #profile-dropdown-div {
  visibility: visible;
  opacity: 1;
}

#profile-dropdown-div:hover {
  visibility: visible;
  opacity: 1;
}

#profile-dropdown-div ul {
  border: 1px solid rgba(33,41,63,.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#profile-dropdown-div li {
  padding: 4px;
}
#email-dropdown {
  border-bottom: 1px solid rgb(203, 198, 191);
}

#logout-btn {
  color:rgb(203, 198, 191);
  border: none;

  background: none;
}

@media screen and (max-width: 900px) {
  h1 {
    visibility: hidden;
  }

  .nav-links a {
    font-size: 16px;
  }
}
