#login-div {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 400px;
  padding: 40px;

}

#login-signup-div a {
  cursor: pointer;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.form-ele {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

input:focus {
  outline: none;
  border: 1px solid rgb(249, 125, 73);
  box-shadow: 0 0 5px rgb(249, 125, 73);
}

button {
  padding: 5px;
}
